* {
    margin: 0;
    padding: 0;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.main{
    background-color: #eee;
    display: grid;
    width: 300px;
    height: 300px;
    gap: 2px;
    border: 6px solid red;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    
    
    grid-template-areas:
    "a1 a2 a3"
    "a4 a5 a5"
    "a6 a5 a5";

}
.a1{
    background:rgb(21, 5, 240) ;
    grid-area: a1 ;
}
.a2{
    background: rgb(3, 21, 102);
    grid-area: a2 ;
}
.a3{
    background:rgb(58, 75, 18) ;
    grid-area:a3 ;
}
.a4{
    background: rgb(133, 10, 133);
    grid-area:a4 ;
}
.a5{
    background:rgb(56, 25, 13) ;
    grid-area: a5;
}
.a6{
    background: orange;
    grid-area: a6;
}