*{
    margin: 0;
    padding: 0;
}
.container {
    height: 100%;
    background-color: grey;
}

.green {
    height: 200px;
    width: 100%;
    background-color: green;
}

.blue {
    height: 300px;
    display: inline-block;
    background-color: blue;
    width: 20%;
    vertical-align: top;
}

.red {
    height: 425px;
    display: inline-block;
    background-color: red;
    width: 80%;
    vertical-align: top;
}
.yellow{
    height: 50%;
    width: 25%;
    float: left;
    padding: 5px;
    margin: 5px;
    background-color: yellow;
    display: inline-block;
    
    
}
.purple{
    height: 30%;
    width: 80%;
    background-color: purple;
    clear: left
    
    
}